body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/assets/img/flower.jpg);
  background-repeat: no-repeat;
}

.heroShop{
  width: 1440px;
  text-align: center;
  padding-top: 250px;
}


.shopImg{
  width: 1440px;
  height: 1024px;

}

.shopH1{
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 81px;
  letter-spacing: -0.9px;
  color: white;
}


.shopH4{
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
  color: white;

}

.btn{
  color: white;
  border-radius: 32px;
  text-decoration: none;
  background-color: #094BAC;
  padding: 16px 40px;
  font-family: "Montserrat";
  font-size: 600;
  display: inline-block;
}